.story-tool-tip-container {
  &.left {
    &::before {
      content: '';
      position: absolute;
      top: 45%;
      left: 100%;
      width: 0;
      height: 0;
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      border-left: 24px solid #6537d7;
    }
  }

  &.right {
    &::before {
      content: '';
      position: absolute;
      right: 100%;
      top: 45%;
      width: 0;
      height: 0;
      border-top: 16px solid transparent;
      border-bottom: 16px solid transparent;
      border-right: 24px solid #6537d7;
    }
  }

  &.top {
    &::before {
      content: '';
      position: absolute;
      top: 100%;
      left: 5%;
      width: 0;
      height: 0;
      border-top: 25px solid #6537d7;
      border-right: 17px solid transparent;
      border-left: 16px solid transparent;
    }
  }
  &.bottom {
    &::before {
      content: '';
      position: absolute;
      bottom: 100%;
      left: 5%;
      width: 0;
      height: 0;
      border-bottom: 25px solid #6537d7;
      border-right: 17px solid transparent;
      border-left: 16px solid transparent;
    }
  }
}
