$break-small: 640px;
$break-mid: 1366px;
$break-large: 1680px;
@mixin purple-gradinet-t {
	background: rgba(109, 53, 222, 1);
	background: -moz-linear-gradient(-45deg, rgba(109, 53, 222, 1) 6%, rgba(65, 63, 181, 1) 47%, rgba(47, 67, 164, 1) 64%, rgba(27, 72, 145, 1) 83%);
	background: -webkit-gradient(left top, right bottom, color-stop(6%, rgba(109, 53, 222, 1)), color-stop(47%, rgba(65, 63, 181, 1)), color-stop(64%, rgba(47, 67, 164, 1)), color-stop(83%, rgba(27, 72, 145, 1)));
	background: -webkit-linear-gradient(-45deg, rgba(109, 53, 222, 1) 6%, rgba(65, 63, 181, 1) 47%, rgba(47, 67, 164, 1) 64%, rgba(27, 72, 145, 1) 83%);
	background: -o-linear-gradient(-45deg, rgba(109, 53, 222, 1) 6%, rgba(65, 63, 181, 1) 47%, rgba(47, 67, 164, 1) 64%, rgba(27, 72, 145, 1) 83%);
	background: -ms-linear-gradient(-45deg, rgba(109, 53, 222, 1) 6%, rgba(65, 63, 181, 1) 47%, rgba(47, 67, 164, 1) 64%, rgba(27, 72, 145, 1) 83%);
	background: linear-gradient(135deg, rgba(109, 53, 222, 1) 6%, rgba(65, 63, 181, 1) 47%, rgba(47, 67, 164, 1) 64%, rgba(27, 72, 145, 1) 83%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6d35de', endColorstr='#1b4891', GradientType=1);
}

@mixin purple-gradinet-w {
	background: rgba(116, 52, 227, 1);
	background: -moz-linear-gradient(top, rgba(116, 52, 227, 1) 0%, rgba(116, 52, 227, 1) 8%, rgba(9, 76, 128, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(116, 52, 227, 1)), color-stop(8%, rgba(116, 52, 227, 1)), color-stop(100%, rgba(9, 76, 128, 1)));
	background: -webkit-linear-gradient(top, rgba(116, 52, 227, 1) 0%, rgba(116, 52, 227, 1) 8%, rgba(9, 76, 128, 1) 100%);
	background: -o-linear-gradient(top, rgba(116, 52, 227, 1) 0%, rgba(116, 52, 227, 1) 8%, rgba(9, 76, 128, 1) 100%);
	background: -ms-linear-gradient(top, rgba(116, 52, 227, 1) 0%, rgba(116, 52, 227, 1) 8%, rgba(9, 76, 128, 1) 100%);
	background: linear-gradient(to bottom, rgba(116, 52, 227, 1) 0%, rgba(116, 52, 227, 1) 8%, rgba(9, 76, 128, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7434e3', endColorstr='#094c80', GradientType=0);
}

//regular resulution
.purple-flower {
	@include purple-gradinet-t;
	padding: 30px 30px 0 30px;
	color: white;
	a {
		color: white;
	}
	.header {
		font-size: 18px;
		font-weight: 500;
	}
	.seperator {
		margin: auto;
		width: 100%;
		border-bottom: 1px dashed #8aa4c5;
	}

	.story-actions {
		margin: 30px 0;
		padding-left: 20%;
		padding-right: 20%;
	}

	.content {
		font-size: 16px;
		font-weight: 400;
	}
	.fotter {
		margin: 7px 0 7px 0;
		color: white;
	}
	.story-neverTell {
		width: 20px;
		margin-left: 0px;
		margin-right: 10px;

	}
	.btn-content-right {
		span {
			margin-left: 30%;
			margin-right: 5px;
			margin-top: 1px;
			font-weight: 400;
		}
		svg {
			fill: white;
		}
	}
	.btn-content-left {
		svg {
			margin-left: 30%;
			margin-right: 5px;
			fill: white;
		}
		span {
			margin-top: 1px;
			font-weight: 400;
		}
	}
	.story-skip {
		margin-left: 10px;
	}
	.story-next {
		border-bottom-right-radius: 30px;
		border-top-right-radius: 30px;
		background-color: #62caff;
		width: 28px;
		color: white;
		border: 0px;
		height: 40px;
	}
	.story-end {
		border-bottom-right-radius: 30px;
		border-top-right-radius: 30px;
		background-color: #62caff;
		width: 28px;
		color: white;
		border: 0px;
		height: 40px;
	}
	.story-back {
		border-bottom-left-radius: 30px;
		border-top-left-radius: 30px;
		background-color: #62caff;
		margin-left: 12px;
		margin-right: 2px;
		width: 28px;
		color: white;
		border: 0px;
		height: 40px;
	}
}

.welcome-page {
	background-color: white;
	padding: 10px;
	width: 100%;
	height: 100%;
	.up {
		position: relative;
		@include purple-gradinet-w;
		.up-content {
			width: 90%;
			position: absolute;
			left: 50%;
			top: 50%;
			-webkit-transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			-o-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			color: white;
			text-align: center;
			.header {
				font-size: 48px;
				font-weight: 400;
			}
			.subHeader {
				font-size: 44%;
				width: 90%;
				font-weight: 400;
				margin: auto;
			}
		}
	}
	.down {
		.story-neverTell {
			width: 18px;
			margin-right: 10px;
		}
		.story-neverTell-label {
			font-size: 16px;
			color: #7a7a7a
		}
		.story-skip {
			margin-bottom: 11px;
			font-size: 16px;
			color: #7A7A7A;
		}
		.start-story {
			position: relative;
			border-radius: 28px;
			font-size: 26px;
			font-weight: 400;
			width: 330px;
			height: 55px;
			background-color: #30a4e1;
			&:hover {
				cursor: pointer;
			}
			span {
				color: white;
				position: absolute;
				left: 50%;
				top: 50%;
				-webkit-transform: translate(-50%, -50%);
				-moz-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				-o-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
			}
		}
		.bye-actions {
			font-size: 20px;
			padding: 5px;
		}
	}
}

//laptop resulution
@media screen and (max-width: $break-mid) {
	.purple-flower {
		@include purple-gradinet-t;
		padding: 30px 30px 0 30px;
		color: white;
		a {
			color: white;
		}
		.header {
			font-size: 18px;
			font-weight: 500;
		}
		.seperator {
			margin: auto;
			width: 100%;
			border-bottom: 1px dashed #8aa4c5;
		}

		.story-actions {
			margin: 30px 0 30px 0;
			padding-left: 180px;
			padding-right: 180px;
		}

		.content {
			font-size: 16px;
			font-weight: 400;
		}
		.fotter {
			margin: 7px 0 7px 0;
			color: white;
		}
		.story-neverTell {
			width: 20px;
			margin-left: 0px;
			margin-right: 10px;

		}
		.btn-content-right {
			span {
				margin-left: 30%;
				margin-right: 5px;
				margin-top: 1px;
				font-weight: 400;
			}
			svg {
				fill: white;
			}
		}
		.btn-content-left {
			svg {
				margin-left: 30%;
				margin-right: 5px;
				fill: white;
			}
			span {
				margin-top: 1px;
				font-weight: 400;
			}
		}
		.story-next {
			border-bottom-right-radius: 30px;
			border-top-right-radius: 30px;
			background-color: #62caff;
			width: 28px;
			color: white;
			border: 0px;
			height: 40px;
		}
		.story-end {
			border-bottom-right-radius: 30px;
			border-top-right-radius: 30px;
			background-color: #62caff;
			width: 28px;
			color: white;
			border: 0px;
			height: 40px;
		}
		.story-back {
			border-bottom-left-radius: 30px;
			border-top-left-radius: 30px;
			background-color: #62caff;
			margin-left: 12px;
			margin-right: 2px;
			width: 28px;
			color: white;
			border: 0px;
			height: 40px;
		}
	}

	.welcome-page {
		background-color: white;
		padding: 10px;
		width: 100%;
		height: 100%;
		.up {
			position: relative;
			@include purple-gradinet-w;
			.up-content {
				width: 90%;
				position: absolute;
				left: 50%;
				top: 50%;
				-webkit-transform: translate(-50%, -50%);
				-moz-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				-o-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				color: white;
				text-align: center;
				.header {
					font-size: 40px;
					font-weight: 400;
				}
				.subHeader {
					font-size: 44%;
					width: 90%;
					font-weight: 400;
					margin: auto;
				}
			}
		}
		.down {
			.story-neverTell {
				width: 18px;
				margin-right: 10px;
			}
			.story-neverTell-label {
				font-size: 16px;
				color: #7a7a7a
			}
			.story-skip {
				margin-bottom: 11px;
				font-size: 16px;
				color: #7A7A7A;
			}
			.start-story {
				position: relative;
				border-radius: 28px;
				font-size: 28px;
				font-weight: 400;
				width: 330px;
				height: 55px;
				background-color: #30a4e1;
				&:hover {
					cursor: pointer;
				}
				span {
					color: white;
					position: absolute;
					left: 50%;
					top: 50%;
					-webkit-transform: translate(-50%, -50%);
					-moz-transform: translate(-50%, -50%);
					-ms-transform: translate(-50%, -50%);
					-o-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
				}
			}
			.bye-actions {
				font-size: 20px;
				padding: 5px;
			}
		}
	}
}

//phone resulution
@media screen and (max-width: $break-small) {
	.purple-flower {
		@include purple-gradinet-t;
		padding: 30px 30px 0 30px;
		color: white;
		a {
			color: white;
		}
		.header {
			font-size: 18px;
			font-weight: 500;
		}
		.seperator {
			margin: auto;
			width: 100%;
			border-bottom: 1px dashed #8aa4c5;
		}

		.story-actions {
			margin: 30px 0 30px 0;
			padding-left: 180px;
			padding-right: 180px;
		}

		.content {
			font-size: 16px;
			font-weight: 400;
		}
		.fotter {
			margin: 7px 0 7px 0;
			color: white;
		}
		.story-neverTell {
			width: 20px;
			margin-left: 0px;
			margin-right: 10px;

		}
		.btn-content-right {
			span {
				margin-left: 30%;
				margin-right: 5px;
				margin-top: 1px;
				font-weight: 400;
			}
			svg {
				fill: white;
			}
		}
		.btn-content-left {
			svg {
				margin-left: 30%;
				margin-right: 5px;
				fill: white;
			}
			span {
				margin-top: 1px;
				font-weight: 400;
			}
		}
		.story-next {
			border-bottom-right-radius: 30px;
			border-top-right-radius: 30px;
			background-color: #62caff;
			width: 28px;
			color: white;
			border: 0px;
			height: 40px;
		}
		.story-end {
			border-bottom-right-radius: 30px;
			border-top-right-radius: 30px;
			background-color: #62caff;
			width: 28px;
			color: white;
			border: 0px;
			height: 40px;
		}
		.story-back {
			border-bottom-left-radius: 30px;
			border-top-left-radius: 30px;
			background-color: #62caff;
			margin-left: 12px;
			margin-right: 2px;
			width: 28px;
			color: white;
			border: 0px;
			height: 40px;
		}
	}

	.welcome-page {
		background-color: white;
		padding: 10px;
		width: 100%;
		height: 100%;
		.up {
			position: relative;
			@include purple-gradinet-w;
			.up-content {
				width: 90%;
				position: absolute;
				left: 50%;
				top: 50%;
				-webkit-transform: translate(-50%, -50%);
				-moz-transform: translate(-50%, -50%);
				-ms-transform: translate(-50%, -50%);
				-o-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				color: white;
				text-align: center;
				.header {
					font-size: 34px;
					font-weight: 400;
				}
				.subHeader {
					font-size: 44%;
					width: 90%;
					font-weight: 400;
					margin: auto;
				}
			}
		}
		.down {
			.story-neverTell {
				width: 12px;
				margin-right: 10px;
			}
			.story-neverTell-label {
				font-size: 16px;
				color: #7a7a7a
			}
			.story-skip {
				margin-bottom: 11px;
				font-size: 16px;
				color: #7A7A7A;
			}
			.start-story {
				position: relative;
				border-radius: 28px;
				font-size: 23px;
				font-weight: 400;
				width: 270px;
				height: 55px;
				background-color: #30a4e1;
				&:hover {
					cursor: pointer;
				}
				span {
					color: white;
					position: absolute;
					left: 50%;
					top: 50%;
					-webkit-transform: translate(-50%, -50%);
					-moz-transform: translate(-50%, -50%);
					-ms-transform: translate(-50%, -50%);
					-o-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
				}
			}
			.bye-actions {
				font-size: 20px;
			}
		}
	}
}



